<?php
/**
 * Copyright (c) 2019. Ameex Technologies . All rights reserved.
 */

$helperData = $this->helper('Kapitus\Finance\Helper\Data');
$scriptUrl = $block->getViewFileUrl('Kapitus_Finance::js/kapitus-common.js'); 
$cssUrl = $block->getViewFileUrl('Kapitus_Finance::css/kapitus-finance.css');
if ($helperData->getScopeConfig('active') == 1): ?>
<link  rel="stylesheet" type="text/css"  media="all" href="<?php echo $cssUrl; ?>" />
<script  type="text/javascript" src="<?php echo $scriptUrl; ?>"></script>
<?php endif; ?>
