<?php
/**
 * Copyright (c) 2019. Ameex Technologies . All rights reserved.
 */
?>
<?php
$helperStore = $this->helper(\Kapitus\Finance\Helper\ProductHelper::class)->getStore();
$helperConfigEmail = $this->helper(\Kapitus\Finance\Helper\Data::class)->getStoreConfig('trans_email/ident_general/email');
?>
<div class="success_page" style="padding-top:35px">
<p class="success_content">Thank you for your order from <?php echo $helperStore->getName(); ?>. Once your package ships we will send you a tracking number.</p>


<p class="success_content">If you have questions about your order, you can email us at <a href="mailto:<?php echo $helperConfigEmail; ?>"><?php echo $helperConfigEmail; ?></a>.<p>

<p class="success_content">There is still time to finance your purchase through Kapitus! Keep cash on hand or increase you order size! <a href="<?php echo $block->getUrl('customer/account'); ?>">Login to your account</a> and adjust your order.<p>

<p class="success_content">Want to know more about Kapitus? Click <a href="https://apply.kapitus.com/">here</a> to find out!</p>

</div>
