<?php
/**
 * Copyright (c) 2019. Ameex Technologies . All rights reserved.
 */
?>
<?php
$helperStore = $this->helper(\Kapitus\Finance\Helper\ProductHelper::class)->getStore();
$helperConfigEmail = $this->helper(\Kapitus\Finance\Helper\Data::class)->getStoreConfig('trans_email/ident_general/email');
?>
<div class="success_page" style="padding-top:35px">
<div class="kapitus-logo-dev">
    <img class="kapitus-logo" width="350px" alt="Kapitus Finance" src="<?php echo $block->getViewFileUrl('Kapitus_Finance::images/kapitus-logo.png'); ?>" />
</div>
    <br/>
    <p><?php echo __('Your order # is: <span>%1</span>.', $block->escapeHtml($block->getOrderId())) ?></p>
    <br/>
<p class="success_content">Thank you for your order from <?php echo $helperStore->getName(); ?>. You have chosen to finance your purchase using Kapitus Financing!</p>
<p class="success_content">A Kapitus representative will reach out to you shortly to discuss terms and next steps.</p>
<p class="success_content">You can check on the status of your Kapitus application and view your order details by <a href="<?php echo $block->getUrl('customer/account'); ?>">logging into your account</a>. 
</p>
<br/><br/>
<p class="success_content">Your order will ship once your financing application has been approved.</p>
<p class="success_content">Once your package ships we will send you a tracking number.</p> 
<p class="success_content">If you have questions about your order, you can email us at <a href="mailto:<?php echo $helperConfigEmail; ?>"><?php echo $helperConfigEmail; ?></a>.
</p>
<p class="success_content">For any questions about you Kapitus Financing application, please email: <a href="mailto:Customersupport@Kapitusservicing.com">Customersupport@Kapitusservicing.com</a>
</p>
</div>
<div class="actions-toolbar">
    <div class="primary">
        <a class="action primary continue" href="<?php echo /* @escapeNotVerified */ $block->getContinueUrl() ?>"><span><?php echo /* @escapeNotVerified */ __('Continue Shopping') ?></span></a>
    </div>
</div>
