/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

.kapitus .heading {background: url("images/kapitus-logo.png") no-repeat 0 50% / 18rem auto; padding-left: 20rem;}
.kapitus .button-container {float: right;}
