<?php
/**
 * Copyright (c) 2019. Ameex Technologies . All rights reserved.
 */

// @codingStandardsIgnoreFile
?>
<?php
$_product = $block->getProduct();
$helper = $this->helper(Kapitus\Finance\Helper\Data::class);
if ($_product->getHasFinance()): ?>
    <div class="addtofinance row">
        <span id="product-addtofinance-button" class="col-sm-6">
            <img alt="<?= /* @escapeNotVerified */
            __('Add To Finance') ?>" src="<?php echo $block->getViewFileUrl('Kapitus_Finance::images/addto-fin.png'); ?>"/>
        </span>
        <span class="demo-tooltip col-sm-6">
            <a class="tooltip-toggle fa fa-info-circle"  style="font-size: 23px; text-decoration: none;" onclick="return false;"></a>
            <span class="tooltip-content" style="border:1px solid #376f3f;">Financing for this product is provided by Kapitus.  Financing this purchase will allow you to pay over time, while keeping working capital in your account and your bank lines of credit available for use.
<br /><br />  With Financing from $5,000 to $1 million, at terms from 3 to 72 months, we can help you find the best option to suits your business needs.</span>
        </span>
    </div>
    <script>
        require([
            'jquery',
            'Magento_Ui/js/modal/confirm',
            'mage/validation'
        ], function ($, confirmation) {

        const dataForm = $('#product_addtocart_form');
        const allowbuynow = "<?php echo $helper->getScopeConfig('allowbuynow_popup'); ?>";
        const checkout_url = "<?= $block->getUrl('checkout', ['_secure' => true]); ?>";

	    const buynowconfirm = function (element) {
                confirmation({
                    content: "<?php echo $helper->getBuyNowMessage(); ?>",
                    modalClass: 'confirm confirmation-finance-popup',
                    title: 'Financing option selected! Here’s how it works:',
                    closeText: "Don't agree",
                    actions: {
                        cancel: function () {
                            $('#finance, #return_url').remove();
                        }
                    },
                    buttons: [
                    {
                        text: 'Continue',
                        class: 'action-primary action-accept',
                        attr: {},
                        click: function(event) {
                            $('#product-addtocart-button').removeClass('tocart');
                            $('#mixed-card').val(2);
                            $('#popup').val(1);
                            this.closeModal(event);
                            $('<input>').attr({type: 'hidden', id: 'finance', name: 'finance', value: "1"}).appendTo('form');
                            $('<input>').attr({type: 'hidden', id: 'return_url', name: 'return_url', value: checkout_url}).appendTo('form');
                            dataForm.submit();
                            return false;
                        }
                    },
                    ]
                });
            };

            const callBackConfirmationFin = function (element) {
                confirmation({
                    content: '<?php echo $helper->getMixedCartMessage(); ?>',
		            modalClass: 'confirm confirmation-finance-popup',
		            closeText: 'No',
                    buttons: [
                    {
                        text: 'Yes',
                        class: 'action-primary action-accept',
                        attr: {},
                        click: function(event) {
                            if(parseInt(allowbuynow) === 1 && $('#popup').val() != 2){
                                buynowconfirm($(this));
                            }else{
                                $('#product-addtocart-button').removeClass('tocart');
                                $('#mixed-card').val(2);
                                $('#popup').val(1);
                                dataForm.submit();
                            }
                            this.closeModal(event);
                        }
                    },
                    {
                        text: 'No',
                        class: 'action-secondary action-dismiss',
                        attr: {},
                        click: function(event) {
                            $('#finance, #return_url').remove();
                            this.closeModal(event);
                        }
                    }
		            ]
                });
            };
           

            const finAddToBtn = $('#product-addtofinance-button');
            dataForm.find('.box-tocart .fieldset .actions').addClass('fin-button-reset');
	    $('.catalog-product-view .box-tocart .fieldset #product-addtocart-button').show();
            $('<input>').attr({type: 'hidden', id: 'popup', name: 'popup', value: "0"}).appendTo('#product_addtocart_form');

            finAddToBtn.on('click', function () {
                if (dataForm.validation('isValid')) {
                    $('#finance, #return_url').remove();
		            var mixval = $('#mixed-card').val();
                    if (mixval) {
                        if(mixval != 2){
                            callBackConfirmationFin($(this));
                        }else{
                            dataForm.submit();
                        }
                    } else {
                        
                        if(parseInt(allowbuynow) === 1 && $('#popup').val() != 2){
                            buynowconfirm($(this));
                        }else{
                            $('#product-addtocart-button').removeClass('tocart');
                            $('<input>').attr({type: 'hidden', id: 'finance', name: 'finance', value: "1"}).appendTo('form');
                            $('<input>').attr({type: 'hidden', id: 'return_url', name: 'return_url', value: checkout_url}).appendTo('form');
                            $('#mixed-card').val(2);
                            dataForm.submit();
                        }
                    }
                }
                return false;
            });
        });
    </script>
<?php endif; ?>
<script>
    require([
        'jquery',
        'Magento_Ui/js/modal/confirm',
        'Magento_Ui/js/modal/alert'
    ], function ($, confirmation, alert) {

        const mageAddToBtn = $('[id="product-addtocart-button"]');
        const hasFinance = "<?php echo $_product->getHasFinance(); ?>";
        const allowProducts = "<?php echo $helper->getScopeConfig('allow_nonfinancial'); ?>";

        const callBackConfirmation = function (element) {
            confirmation({
                content: '<?php echo $helper->getMixedCartMessage(); ?>',
		modalClass: 'confirm confirmation-finance-popup',
		closeText: 'No',
		buttons: [
			{
				text: 'Yes',
				class: 'action-primary action-accept',
				attr: {},
				click: function(event) {
				    //buynowconfirm($(this));
                    $('#mixed-card').val(2);
		            $('#product_addtocart_form').submit();
				    this.closeModal(event);
				}
			},
			{
				text: 'No',
				class: 'action-secondary action-dismiss',
				attr: {},
				click: function(event) {
				    $('#finance, #return_url').remove();
				    this.closeModal(event);
				}
		    	}
		    ]
            });
        };

        mageAddToBtn.on('click', function () {
	    var maxvals = $('#mixed-card').val()
            if (maxvals) {
                if (parseInt(hasFinance) === 1) {
		    if(maxvals != 2){
                    	callBackConfirmation($(this));
		    }else{
			    $('#product_addtocart_form').submit();
		    }
                } else {
                    if (parseInt(allowProducts) === 0) {
                        callBackConfirmation($(this));
                    } else {
                        alert({ modalClass: 'confirm confirmation-finance-alert',content: '<?php echo $helper->getDisallowMessage(); ?>',buttons: [{
                text:'Close',
                class: 'action-primary action-accept',
                click: function () {
                    this.closeModal(true);
                }
            }]});
                    }

                }
                return false;
            }
        });
        $.ajax({
            url: "<?php echo $block->getBaseUrl() . 'index.php/kapitus/token/mixedcart'?>",
            type: 'POST',
            dataType: 'json',
            data: {
                product_id: $("#product_addtocart_form input[name='product']").val(),
            },
            complete: function (response) {
		        $('.catalog-product-view .box-tocart .fieldset #product-addtocart-button').show();
                if (response.responseJSON.mixed === true) {
                    $('<input>').attr({
                        type: 'hidden',
                        id: 'mixed-card',
                        name: 'mixed_card', value: 1
                    }).appendTo('#product_addtocart_form');
                    mageAddToBtn.attr('type', 'button');
                }
                if(response.responseJSON.popup == 1){
                    $('#popup').val(2);
                }
            }
        });
    });
</script>
