<?php
/**
 * Copyright (c) 2019. Ameex Technologies . All rights reserved.
 */
$helperData = $this->helper('Kapitus\Finance\Helper\Data');
?>
<?php if ($block->getProduct()->getHasFinance() && $helperData->getScopeConfig('active') == 1): ?>
<div class='kapitus_label_div'><span class='kapitus_label'><?php echo "Finance with Kapitus";//$block->getProduct()->getResource()->getAttribute('has_finance')->getFrontendLabel()  ?></span></div>
<?php endif; ?>
