<?php
/**
 * Copyright (c) 2019. Ameex Technologies . All rights reserved.
 */
$attribute_label = $block->getCurrentProduct()->getResource()->getAttribute('has_finance')->getFrontendLabel();
$storeId = $block->getCurrentStore();
$attribute_value = $block->getCurrentProduct()->getResource()->getAttributeRawValue(
    $block->getCurrentProduct()->getId(),
    'has_finance', $storeId
);

if ($attribute_value == 1): ?>
    <div class='kapitus_label_div'><span class="kapitus_finance"><?php echo "Finance with Kapitus";//$attribute_label; ?></span></div>

<?php endif; ?>
