<?php
/**
 * Copyright (c) 2019. Ameex Technologies . All rights reserved.
 */
$code = $block->escapeHtml($block->getMethodCode());
?>
<fieldset class="admin__fieldset payment-method"
          id="payment_form_<?php echo /* @noEscape */
          $code ?>"
          style="display:none"
>
    <br/>
    <iframe width="100%" height="500px" src="https://apply.kapitus.com"></iframe>
    <br/>
</fieldset>