<!--
  ~ Copyright (c) 2019. Ameex Technologies . All rights reserved.
  -->
<div class="kapitus_information opc-block-summary">
<h3>Terms and Conditions</h3>
<p class="kapitus_terms">By your information, the Owner and Merchant (“You”) each agree to send it to Kapitus, LLC. (including all affiliated entities) who will process and use it according to their privacy policy.  Visit Kapitus’s Privacy Policy at: <a href="https://kapitus.com/en/privacy-policy" target="_blank">https://kapitus.com/en/privacy-policy</a></p>
<p><input type="checkbox" name="is_financed" id="is_financed" data-bind="click: activatePlaceorder"><label for="is_financed">I agree</label></p>
<p><button class="button action primary agree-placeorder" disabled="disabled"  data-bind="click: showIframe"><span>Apply now</span></button></p>
</div>
<div id="kapitus_iframe"></div>
