/*
 * Copyright (c) 2019. Ameex Technologies . All rights reserved.
 */
.fin-button-reset {
    display: flex;
    flex-direction: column-reverse;
}

.fin-button-reset #product-addtocart-button {
    width: 194px !important;
    padding: 8px;
    color: #FFF;
    background-color: #A9A9A9;
    border: 0;
    border-radius: 6px;
    height: 35px;
    padding: 0px;
    font-size: 16px;
}

button#product-updatecart-button {
    width: 194px !important;
    padding: 8px;
    color: #FFF;
    background-color: #A9A9A9;
    border: 0;
}

.product-item-actions button.action.tocart {
    display: none;
}

#product-addtofinance-button {
    cursor: pointer;
}

.catalog-product-view .box-tocart .fieldset #product-addtocart-button{
    display:none;
}

.catalog-category-view .kapitus_label_div {
    text-align: center;
    background: #376F3F;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.catalog-product-view .kapitus_label_div {
    text-align: center;
    background: #376F3F;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.catalogsearch-result-index .kapitus_label_div {
    text-align: center;
    background: #376F3F;
    color: white;
    font-size: 17px;
    font-weight: bold;

}

.catalog-category-view .kapitus_label_div {
    display: none;
}

.checkout-cart-index .kapitus_label_div {
    background: #376f3f;
    width: 169px;
}

.checkout-cart-index span.kapitus_finance {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;

}

.checkout-payment-method .payment-method-title {
    font-size: 20px;
    font-weight: bold;
}

/* product view poup kar10042019 */
.catalog-product-view  .confirmation-finance-alert .modal-inner-wrap{
    padding: 10px 15px;
    border: 1px solid #000;
}
.catalog-product-view  .confirmation-finance-alert .modal-inner-wrap .action-close{
    padding: 10px;
}
.catalog-product-view  .confirmation-finance-alert .modal-inner-wrap .modal-header{
    padding: 10px 0 20px;
}
.catalog-product-view  .confirmation-finance-alert .modal-inner-wrap .modal-title{
    border:0;
    color: #fff;
    background-image: url(../images/exclamation.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.catalog-product-view  .confirmation-finance-alert .modal-inner-wrap .modal-footer{
    padding: 20px 0 10px;
    text-align: center;
}
.catalog-product-view  .confirmation-finance-alert .modal-inner-wrap .modal-footer button{
    background: transparent;
    border: 0;
    box-shadow: none;
    padding: 0px;
    text-decoration: underline;
    color: #e04845;
}
.catalog-product-view  .confirmation-finance-alert .modal-inner-wrap .modal-footer button:hover, 
.catalog-product-view  .confirmation-finance-alert .modal-inner-wrap .modal-footer button:focus{
    color: #e04845;
}
.catalog-product-view  .confirmation-finance-alert .modal-inner-wrap .modal-content{
    text-align: center;
}
@media (min-width:768px){
    .catalog-product-view  .confirmation-finance-alert .modal-inner-wrap{
        max-width:400px;
    }
    /* .checkout-index-index .modal-slide .modal-inner-wrap{overflow-y: scroll; -webkit-overflow-scrolling: touch;height:98%;overflow-x:hidden;} */
    .addtofinance .demo-tooltip .tooltip-content{min-width:112px;}
}

@media (max-width:767px){
    .catalog-product-view  .confirmation-finance-alert .modal-inner-wrap{
        max-width:90%;
    }
    .checkout-index-index .modal-popup._inner-scroll .modal-content {
	    overflow-x: hidden;
	}
    .checkout-index-index .modal-popup.modal-slide{ left:0}
    .checkout-index-index .modal-slide .modal-inner-wrap{overflow-y: scroll; -webkit-overflow-scrolling: touch;height:98%;overflow-x:hidden;}
    .addtofinance .demo-tooltip .tooltip-content{min-width:112px;}
}

.checkout-index-index .modal-slide .modal-inner-wrap{		
	overflow-x:hidden;
}
.checkout-index-index .kapitus-fin-popup .modal-inner-wrap header {
	display: none;
}

.checkout-index-index .kapitus-fin-popup .modal-inner-wrap .modal-content {
	padding: 0;
}

.checkout-index-index .kapitus_information.opc-block-summary p {
	font-weight: normal;
}

.checkout-index-index .kapitus_information.opc-block-summary {
	font-weight: bold;
}

@media (max-width:1024px) {
	.checkout-index-index .modal-popup.modal-slide._inner-scroll .modal-inner-wrap {
		min-height: 90vh;
		height: 90vh;
	}
}

/* -------- Ipad ------------ */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
   .addtofinance {display:inline-block;}  
   .checkout-index-index .modal-slide .modal-inner-wrap{overflow-y: scroll; -webkit-overflow-scrolling: touch;height:98%;}   
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
.checkout-index-index .modal-slide .modal-inner-wrap{overflow-y: scroll; -webkit-overflow-scrolling: touch;}
.addtofinance {display:inline-block;}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .checkout-index-index .modal-slide .modal-inner-wrap{overflow-y: scroll; -webkit-overflow-scrolling: touch;}
    .addtofinance {display:inline-block;}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
.checkout-index-index .modal-slide .modal-inner-wrap{overflow-y: scroll; -webkit-overflow-scrolling: touch;}
.addtofinance {display:inline-block;}
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
.checkout-index-index .modal-slide .modal-inner-wrap{overflow-y: scroll; -webkit-overflow-scrolling: touch;}
.addtofinance {display:inline-block;}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .checkout-index-index .modal-slide .modal-inner-wrap{overflow-y: scroll; -webkit-overflow-scrolling: touch;}
    .addtofinance {display:inline-block;}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
.checkout-index-index .modal-slide .modal-inner-wrap{overflow-y: scroll; -webkit-overflow-scrolling: touch;}
.addtofinance {display:inline-block;}
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
.checkout-index-index .modal-slide .modal-inner-wrap{overflow-y: scroll; -webkit-overflow-scrolling: touch;}
.addtofinance {display:inline-block;}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
.checkout-index-index .modal-slide .modal-inner-wrap{overflow-y: scroll; -webkit-overflow-scrolling: touch;}
.addtofinance {display:inline-block;}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
.checkout-index-index .modal-slide .modal-inner-wrap{overflow-y: scroll; -webkit-overflow-scrolling: touch;}
.addtofinance {display:inline-block;}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
.checkout-index-index .modal-slide .modal-inner-wrap{overflow-y: scroll; -webkit-overflow-scrolling: touch;}
.addtofinance {display:inline-block;}
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
.checkout-index-index .modal-slide .modal-inner-wrap{overflow-y: scroll; -webkit-overflow-scrolling: touch;}
.addtofinance {display:inline-block;}
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
.checkout-index-index .modal-slide .modal-inner-wrap{overflow-y: scroll; -webkit-overflow-scrolling: touch;}
.addtofinance {display:inline-block;}
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
.checkout-index-index .modal-slide .modal-inner-wrap{overflow-y: scroll; -webkit-overflow-scrolling: touch;}
.addtofinance {display:inline-block;}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
.checkout-index-index .modal-slide .modal-inner-wrap{overflow-y: scroll; -webkit-overflow-scrolling: touch;}
.addtofinance {display:inline-block;}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
.checkout-index-index .modal-slide .modal-inner-wrap{overflow-y: scroll; -webkit-overflow-scrolling: touch;}
.addtofinance {display:inline-block;}
}

.element {
    position: relative;
}
 
/* Tooltip Start */
/*replace the content value with the corresponding value from the list below*/
 
.element:before {
    content: "\f000";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}
.addtofinance .demo-tooltip{padding:7px;top:-8px;}
.addtofinance .demo-tooltip .tooltip-content{left:70%;}

.catalog-product-view .addtofinance .demo-tooltip  .tooltip-content{
    left: -174px;
    top: 100%;
    min-width: 300px;
    margin: auto;
}
.catalog-product-view .addtofinance .demo-tooltip  .tooltip-content:before{

    margin-top: -6px;
    top: -6px;
    left: 190px;
    right: inherit;    
}
.catalog-product-view .addtofinance .demo-tooltip  .tooltip-content:after{

    margin-top: -5px;
    top: -5px;
    left: 190px;
    right: inherit;    
}
@media(max-width:1024px){
.catalog-product-view .addtofinance .demo-tooltip .tooltip-content{
    min-width: 240px;
}
}
#kapitus_iframe_finance{height:750px;} 
/* Tooltip End */

.kapitus-onepage-success .page-title-wrapper {
    height: 40px;
}
.catalog-product-view .confirmation-finance-popup .modal-inner-wrap{
    height:75%;
}
.catalog-product-view .confirmation-finance-popup .modal-inner-wrap .modal-content{
    overflow-y: scroll; -webkit-overflow-scrolling: touch;
}

/*checkout cursor*/
.checkout-index-index .kapitus_information #is_financed {
    cursor: pointer;
}
.checkout-index-index .kapitus_information label {
    cursor: pointer;
}
